# Node modules
node_modules/

# Build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Hardhat artifacts
hardhat/artifacts/
hardhat/cache/

# Env files
.env
.env.*

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db
